body{
    margin: 0;
    padding: 0;

}
header{
    width: 80%;
    background-color: rgb(13, 228, 56);
    height:80px;
    position:fixed;
    left: 20%;
    z-index: 1;
}
.box1{
    width: 381px;
    height: 39px;   
    background: #f6f6f9;   
    line-height: 80px;
    line-height: 31px;
    margin-top: 20px;
    margin-left: 39px;
}

aside{
    width: 20%;
    height: 800px;
    background-color: blue;
    color: #fff;
    position: fixed;
}
main{
    width: 80%;
    position: absolute;
    left: 20%;
    background-color: rgb(207, 243, 8);
    top:85px;
    min-height: 100%;;
}
footer{
    width: 80%;
    background-color: red;
    height: 80px;
    position: fixed;
    left: 20%;
    bottom: 0;
}